In [1]:
from zipfile import ZipFile
import os
import re
import pandas as pd

In [3]:
if not os.path.exists('dataset'):
    with ZipFile('Participants_Data_GGSH_Solution_Notebook.zip') as f:
        f.extractall('dataset')

In [4]:
def leaderboard():
    with open('leaderboard.txt') as f:
        data = f.read()
    data = re.findall('[\d]+\.([\d]+.[\d]+)', data)
    return [float(i[5:]) for i in data]

In [8]:
india_train = pd.read_csv('dataset/India_train.csv')
india_test = pd.read_csv('dataset/India_test.csv')
USA_train = pd.read_csv('dataset/USA_train.csv')
USA_test = pd.read_csv('dataset/USA_test.csv')
India_soil_rainfall_30years = pd.read_csv('dataset/India_soil_rainfall_30years.csv')
USA_Commodity_prices = pd.read_csv('dataset/USA_Commodity_prices.csv')
submission = pd.read_csv('dataset/submission.csv')

In [9]:
submission

,Yield (Pounds/ Harvested Area),COTTON YIELD (Kg per ha),Cotton_Price[Dollar/ton]
0,0.0,0,0.0
1,0.0,0,0.0
2,0.0,0,0.0
3,0.0,0,0.0
4,0.0,0,0.0
...,...,...,...
2471,0.0,0,0.0
2472,0.0,0,0.0
2473,0.0,0,0.0
2474,0.0,0,0.0
2475,0.0,0,0.0

In [10]:
india_test

,Year,State Name,Dist Name,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,2007,Andhra Pradesh,Srikakulam,179.0,124.0,0,0.00,19.53,0.00,18.03,...,24.07,28.28,20.03,NaN,17.46,NaN,15.77,64007.0,134.94,97.83
1,2007,Andhra Pradesh,Visakhapatnam,39.0,27.0,0,0.00,9.90,0.00,16.02,...,21.71,20.29,16.25,6842.0,16.00,15.44,NaN,48839.0,107.11,85.50
2,2007,Andhra Pradesh,East Godavari,81.0,316.0,0,0.00,7.00,NaN,12.87,...,25.39,91.41,53.02,29651.0,21.68,68.70,39.54,158750.0,366.49,NaN
3,2007,Andhra Pradesh,West Godavari,49.0,309.0,0,0.00,5.13,NaN,8.27,...,30.09,149.91,96.38,50048.0,22.00,117.34,74.79,250292.0,568.85,355.04
4,2007,Andhra Pradesh,Krishna,3479.0,1956.0,0,0.00,6.71,0.00,9.97,...,29.03,NaN,74.52,32780.0,19.03,69.82,46.43,192459.0,408.09,264.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,2015,West Bengal,Jalpaiguri,0.0,NaN,0,NaN,33.91,28.31,181.83,...,24.42,75.57,45.31,30574.0,28.84,94.70,55.89,123077.0,369.16,217.97
2472,2015,West Bengal,Darjeeling,0.0,0.0,0,29.89,47.23,33.53,191.11,...,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00
2473,2015,West Bengal,Malda,0.0,0.0,0,26.29,NaN,15.06,53.32,...,27.74,107.36,54.62,17626.0,20.92,75.39,41.51,NaN,441.58,222.66
2474,2015,West Bengal,Cooch Behar,0.0,0.0,0,19.89,20.83,24.05,148.61,...,30.05,55.50,28.34,8378.0,19.84,33.75,18.12,46960.0,185.62,93.36
2475,2015,West Bengal,Purulia,0.0,0.0,0,11.27,25.29,23.43,50.31,...,30.97,16.60,15.18,1500.0,10.94,6.84,7.37,15057.0,51.70,46.96

In [11]:
india_train

,Year,State Name,Dist Name,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1990,Andhra Pradesh,Srikakulam,0.0,0.0,0,4.05,50.75,75.34,18.87,...,23.32,19.79,15.90,1383.0,NaN,5.79,4.21,41684.0,85.21,67.77
1,1990,Andhra Pradesh,Visakhapatnam,7.0,3.0,3333,NaN,54.03,94.67,12.21,...,18.24,15.43,11.63,1363.0,4.03,5.67,3.11,44809.0,90.08,73.74
2,1990,Andhra Pradesh,East Godavari,49.0,238.0,4944,3.28,39.90,68.64,8.12,...,19.69,48.41,32.27,7882.0,6.86,19.71,13.31,NaN,303.24,194.95
3,1990,Andhra Pradesh,West Godavari,26.0,120.0,4964,4.14,43.94,48.83,5.39,...,NaN,89.59,64.73,18271.0,14.01,42.18,33.22,165898.0,375.97,266.35
4,1990,Andhra Pradesh,Krishna,996.0,289.0,2892,1.18,NaN,32.47,2.26,...,28.12,77.62,53.68,NaN,13.34,29.04,21.79,139778.0,NaN,193.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4700,2006,West Bengal,Jalpaiguri,0.0,0.0,0,0.00,8.68,48.92,284.72,...,33.77,44.20,25.52,11421.0,27.03,35.01,24.74,43874.0,133.67,80.70
4701,2006,West Bengal,Darjeeling,0.0,0.0,0,0.00,9.32,67.40,288.60,...,24.83,64.10,48.93,6477.0,NaN,48.47,34.63,42436.0,301.08,224.49
4702,2006,West Bengal,Malda,NaN,0.0,0,0.00,4.68,16.49,48.28,...,25.88,108.35,58.66,20547.0,25.82,99.19,53.77,94166.0,446.42,241.29
4703,2006,West Bengal,Cooch Behar,0.0,0.0,0,0.00,7.62,31.35,248.95,...,28.63,42.16,22.97,8003.0,25.74,33.22,18.43,35189.0,144.73,74.27
4704,2006,West Bengal,Purulia,0.0,0.0,0,0.00,0.00,29.74,18.69,...,32.51,14.41,15.59,NaN,13.53,9.51,8.76,13637.0,45.95,39.99